<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Julia Shaw</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/templates/index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/coursework.html">Coursework</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/projects.html">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/projects.html">Contact</a>
          </li>
        </ul>
        <a target = 'none' href='https://www.linkedin.com/in/juliashaw7'><img src="/static/icons/linkedin.png" style="height:25px"></a>
        <a target="none" href="https://www.github.com/jshaw-7"><img src="/static/icons/github.png" style="height:25px; padding-left:5px"></a>
      </div>
    </div>
  </nav>
  
  <div id="intro">
    <h1 class="fs-3">About Me</h1>
    <p>
      Hey! My name is Julia. I'm a senior at Cambridge Rindge and Latin School, in the Rindge School of Technical Arts'
      Computer Science program. I am committed to Carnegie Mellon's School of Computer Science for next year, and hope 
      to double major in computer science and math. Feel free to check out my coursework and some cool CS projects 
      I've worked on! 
    </p>
    <p>
      Outside of school, I play hockey, 
    </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>